// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@include keyframes(reveal-chart) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// .chart {
//   position: relative;
//   display: block;
// }

.chart__grid {
  stroke: $border-color;
}

.chart__graphic {
  width: 100%;
  height: $graphic-size;
  max-height: calc(100vh - #{double($header-height)});
}

.chart__values {

  @include media-query(lap-and-up) {
    g {
      @include animation('reveal-chart 1.5s');
    }
  }
}

.chart__values-line {
  stroke-width: 3px;
  @include graph-stroke-color();

  &--active {
    cursor: pointer;
  }
}

.chart__values-area {
  @include graph-fill-color-translucent(0.7);

  &--active {
    cursor: pointer;
  }
}

.chart__values-area--highlight {
  @include graph-fill-color;
}

.chart__values-bar {
  @include graph-stroke-color-translucent(0.7);

  &--highlight {
    @include graph-stroke-color;
  }

  &--active {
    cursor: pointer;
  }
}

.chart--segmented {
  .chart__values-bar {
    stroke-dasharray: 12 6;
  }
}

.chart__values-point {
  stroke-width: 3px;
  @include graph-stroke-color();
  fill: $background-color;
}

.chart__values--loading {
  stroke-width: $inuit-base-spacing-unit;
  @include graph-stroke-color();
}

.chart__threshold {
  stroke-width: 2px;
  stroke: $threshold-color;
  pointer-events: none;
}

.chart__yaxis .chart__bar {
  @include graph-fill-color-translucent(0.5);
}

.chart__xaxis-index {
  text {
    fill: $secondary-text-color;
  }
}

.chart__xaxis-index--eclipse {
  text {
    fill: transparent;
  }
}

.chart__xaxis-index--highlight {
  text {
    fill: $text-color;
  }
}

.chart__front-xband-background {
  fill: rgba(0, 0, 0, 0);
}

.chart__cursor {
  stroke: $cursor-color;
  stroke-width: 2;
  pointer-events: none;
}

.chart__cursor-point {
  stroke-width: 2;
  @include graph-fill-color();
}

.chart__legend--overlay {
  padding: halve($inuit-base-spacing-unit);
  pointer-events: none;

  @include media-query(palm) {
    margin: 0px auto;
  }

  @include media-query(lap-and-up) {
    position: absolute;
    left: 0px;
    margin: 0px;
    background-color: $active-background-color;
  }
}

.chart--area,
.chart--bar {
  .chart__gradient {
    @include graph-fill-color-gradient();
  }
}

.chart--small {
  .chart__graphic {
    height: $graphic-small-size;
  }
}

.chart--large {
  .chart__graphic {
    height: $graphic-large-size;
  }
}

.chart--sparkline {
  display: inline-block;
  margin-right: quarter($inuit-base-spacing-unit);

  .chart__graphic {
    width: auto;
    height: $sparkline-height;
  }

  .chart__values-bar,
  .chart__values-area {
    @include graph-fill-color();
  }
}

// New stuff

.chart {
  position: relative;
  display: flex;
}

.chart--vertical {
  flex-direction: column;

  &.chart--full {
    height: 100%;
  }

  > .axis:first-child {
    margin-bottom: halve($inuit-base-spacing-unit);
  }

  > .axis:last-child {
    margin-top: halve($inuit-base-spacing-unit);
  }
}

.chart:not(.chart--vertical) {
  flex-direction: row;

  &.chart--full {
    width: 100%;
  }

  > .axis:first-child {
    margin-right: halve($inuit-base-spacing-unit);
  }

  > .axis:last-child {
    margin-left: halve($inuit-base-spacing-unit);
  }
}

.base--width-small {
  width: $graphic-small-size;
}

.base--width-medium {
  width: $graphic-size;
}

.base--width-large {
  width: $graphic-large-size;
}

.base--width-full {
  width: 100%;
}

.base--height-small {
  height: $graphic-small-size;
}

.base--height-medium {
  height: $graphic-size;
}

.base--height-large {
  height: $graphic-large-size;
}

// Axis

.axis {
  flex: 0 0 auto; // when in Chart
  display: flex;
  flex-direction: row;
}

.axis__slot {
  flex: 0 0;
  display: flex;
  flex-direction: column;
}

.axis--vertical {
  flex-direction: column;

  .axis__slot {
    min-width: 1em;
  }

  &.axis--align-start {
    align-items: flex-start;

    .axis__slot {
      align-items: flex-start;
    }
  }

  &.axis--align-center {
    align-items: center;

    .axis__slot {
      align-items: center;
    }
  }

  &.axis--align-end {
    align-items: flex-end;

    .axis__slot {
      align-items: flex-end;
    }
  }

  &.axis--value-align-start {
    .axis__slot {
      justify-content: flex-start;
    }

    &.axis--ticks {
      .axis__slot:not(.axis__slot--placeholder) {
        border-top: 1px solid $border-color;

        &.axis__slot--zeroed {
          justify-content: flex-end;
          border-top: none;
          border-bottom: 1px solid $border-color;
        }
      }
    }
  }

  &.axis--value-align-center {
    .axis__slot {
      justify-content: center;
    }
  }

  &.axis--value-align-end {
    .axis__slot {
      justify-content: flex-end;
    }

    &.axis--ticks {
      .axis__slot:not(.axis__slot--placeholder) {
        border-bottom: 1px solid $border-color;

        &.axis__slot--zeroed {
          justify-content: flex-start;
          border-bottom: none;
          border-top: 1px solid $border-color;
        }
      }
    }
  }
}

.axis:not(.axis--vertical) {
  flex-direction: row;

  .axis__slot {
    min-height: $inuit-base-spacing-unit;
  }

  &.axis--align-start {
    align-items: flex-start;

    .axis__slot {
      justify-content: flex-start;
    }
  }

  &.axis--align-center {
    align-items: center;

    .axis__slot {
      justify-content: center;
    }
  }

  &.axis--align-end {
    align-items: flex-end;

    .axis__slot {
      justify-content: flex-end;
    }
  }

  &.axis--value-align-start {
    .axis__slot {
      align-items: flex-start;
    }

    &.axis--ticks {
      .axis__slot:not(.axis__slot--placeholder) {
        border-left: 1px solid $border-color;
        padding: 0 quarter($inuit-base-spacing-unit);

        &.axis__slot--zeroed {
          align-items: flex-end;
          border-left: none;
          border-right: 1px solid $border-color;
        }
      }
    }
  }

  &.axis--value-align-center {
    .axis__slot {
      align-items: center;
    }
  }

  &.axis--value-align-end {
    .axis__slot {
      align-items: flex-end;
    }

    &.axis--ticks {
      .axis__slot:not(.axis__slot--placeholder) {
        border-right: 1px solid $border-color;
        padding: 0 quarter($inuit-base-spacing-unit);

        &.axis__slot--zeroed {
          align-items: flex-start;
          border-right: none;
          border-left: 1px solid $border-color;
        }
      }
    }
  }
}

// Layers

.layers {
  position: absolute;
}

.layers--height-small {
  height: $graphic-small-size;
}

.layers--height-medium {
  height: $graphic-size;
}

.layers--width-small {
  width: $graphic-small-size;
}

.layers--width-medium {
  width: $graphic-size;
}

.layers--width-full {
  width: 100%;
}

.threshold,
.grid,
.graph--line,
.graph--area {
  position: absolute;
  width: 100%;
  height: 100%;
}

// Stack

.stack {
  display: flex;
}

.stack--vertical {
  flex-direction: column;
}

.stack:not(.stack--vertical) {
  flex-direction: row;

  > * {
    flex: 0 0;
  }
}

// Grid

.grid {
  path {
    stroke: $border-color;
  }
}

// Threshold

.threshold {
  @include graph-stroke-color-translucent(0.7);
}

// Graph

.graph--line {
  stroke-width: 3px;

  @include graph-stroke-color-translucent(0.7);
}

.graph--area {
  @include graph-fill-color-translucent(0.7);
}

.graph__point {
  fill: $background-color;
}
